@use './fonts' as f;


*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body, html {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;

  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  img {
    border-radius: 20px;
  }

  h1, h2 {
    font-family: f.$font-cinzel-deco;
    overflow-wrap: break-word;
    font-weight: bolder;
    text-align: center;
}
  
  h3, h4, h5, h6 {
    font-family: f.$font-cinzel;
    overflow-wrap: break-word;
    text-align: center;
  }

  input, button, a {
    font: inherit;
    outline: none;
  }

  button {
    display: block;
    margin: 0 auto;
  }

  p {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }