@use './fonts' as f;


*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body, html {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;

  }
  
  img {
    padding: 0;
    margin: 0;
    display: block;
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
  
  input, button, textarea, select {
    font: inherit;
  }

  h1, h2 {
    font-family: f.$font-cinzel-deco;
    overflow-wrap: break-word;
    font-weight: bolder;
    text-align: center;
  }
  
  h3, h4, h5, h6 {
    font-family: f.$font-cinzel;
    overflow-wrap: break-word;
    text-align: center;
  }

  input, button, a {
    font: inherit;
    outline: none;
  }

  button {
    display: block;
    margin: 0 auto;
  }

  p {
    overflow-wrap: break-word;
  }
  
  li, ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  #root, #__next {
    isolation: isolate;
  }

  @media (min-width: 321px), (max-width:600px) {
    

    h1 {
      font-size: 1.45rem;
    };

    h2 {
      font-size: 1.20rem;
    };

    h3 {
      font-size: 1rem;
    };
  } 

  @media (max-width: 320px) {
    .form-wrapper {
      width: 100%; /* Pour laisser un peu d'espace sur les côtés */
      padding: 1rem; /* Ajuster le padding pour rendre le formulaire plus compact */    }
  }
  
  @media (min-width: 321px) and (max-width: 600px) {
    .form-wrapper {
      width: 100%; /* Utiliser un peu plus de largeur */
    }
  }
  
  