@use '../../styles/variables' as v;
@use '../../styles/reset';
@use '../../styles/fonts' as f;

.about-page {  
    .about {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        margin: 0.5rem;

        h1 {
            font-size: f.$font-size-h1;
            text-align: left;
            margin-bottom: 2rem;
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;
            padding: 1rem;
            background-color: v.$color-light-red;
            border-radius: 20px;
            box-shadow: v.$color-shadow;

            h2 {
                font-size: f.$font-size-h2;
                margin: 0;
            }

            p {
                font-size: f.$font-size-p;
                line-height: 1;
                padding: 1.5rem;
            }

            img {
                width: 100%;
                height: auto;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
        }
    }
}

@media (min-width: 768px) {
    .about-page {  // S'assurer de la bonne spécificité avec le sélecteur parent
        .about {
            gap: 2rem;
        }

        .about section {
            max-width: 70%;
            display: flex;
            flex-direction: row;  // Applique bien la direction row à chaque section
            align-items: flex-start;  // Aligne les éléments au début
            justify-content: space-between;  // Espace entre le texte et l'image
            padding: 2rem;

            div {
                max-width: 40%;
                text-align: left; 
            }

            img {
                max-width: 60%; // L'image prend 60% de l'espace
                height: auto;  // S'assure que l'image garde ses proportions
            }
            p {
                padding: 3rem;
                line-height: 2rem;
            }
        }
    }
}
