@use '../../styles/_variables' as v;
@use '../../styles/reset';
@use '../../styles/_fonts' as f;

ul {
    display: flex;
    flex-direction: column;
    ;
}

.description {
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
}

.inspiredBy {
    font-size: 1.2rem;
}

h2 {
    font-size: f.$font-size-h2;
    padding: 1rem;
}

.otherRecipes {
    font-size: 1.2rem;
    padding-top: 1rem;
}

h3 {
    font-size: f.$font-size-h3;
    padding: 1rem;
}

