@use "../../../styles/fonts" as f;
@use "../../../styles/reset";
@use "../../../styles/variables" as v;

.slick-slider {
    position: relative;
    margin: 0;
    padding: 0; 
    width: 100vw;
    max-width: 100%; 
  }
  
  .slick-list {
    overflow: hidden;
  }
  
  .slick-track {
    display: flex;
    align-items: center;
  }
  
  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 0;
    }
  }
  
  /* Navigation arrows */
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: v.$color-light-grey;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.8rem;
    line-height: 28px;/* Sets the line height to 28 pixels */
  
    &:hover {
      background-color: v.$color-light-yellow;
    }
  }
  
  .slick-prev {
    left: 1.5rem;
  }
  
  .slick-next {
    right: 1.5rem;
  }
  
 /* Navigation dots */
  .slick-dots {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex !important;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .slick-dots li {
    margin: 0 5px;
  }
  
  .slick-dots li button {
    border: none;
    background-color: v.$color-light-grey;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0; // Remove numbering
  }
  
  .slick-dots li.slick-active button {
    background-color: v.$color-grey;
  }

  .slick-dots li.slick-active button:hover {
    background-color: v.$color-yellow;
  }
  
  @media (min-width: 780px) {
    .slick-slider {
      position: relative;
      margin: 0 auto;
      padding: 0 0; 
      width: 50%; 
    }
}