@use "../../../styles/_fonts.scss" as f;
@use "../../../styles/_reset.scss";
@use "../../../styles/_variables.scss" as v;

// Header logo
.header-logo {
    width: 5rem;
    height: 5rem;
    min-width: 5rem;
    
    img .logo {
    display: block;
    position: absolute;
  }
}


@media (min-width: 760px) {
    .header-logo {
        min-width: 5rem;
    }
}